---
import Layout from "../layouts/Layout.astro"
import ky from "ky"
const json = await ky.get('http://localhost:8080/board').json() as any
console.log(json)
---

<Layout title="Welcome to Astro.">
  <main>
    {json.map((d: any) => <div>{d.code} - {d.id}</div>)}
  </main>
</Layout>

