---
import Layout from "../layouts/Layout.astro"
import ky from "ky"
const json: any = await ky.get("http://localhost:8080/board").json()
---

<Layout title="Welcome to Astro.">
  <main>
    {
      json.map((d: any) => (
        <div>
          <a href={`/board/${d.code}/`}>
            {d.code} - {d.id}
          </a>
        </div>
      ))
    }
  </main>
</Layout>
